body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
}
.person__container {
  width: 30%;
  padding: 2rem;
  margin: 1rem;
}

.person__container img {
  width: 100%;
}

.yellowBackground {
  background: rgba(255, 255, 230, 0.6);
}

.greenBackground {
  background: rgba(0, 255, 0, 0.6);
}

.border {
  border: 1px solid black;
}
